@font-face {
  font-family: "iconfont"; /* Project id 1498332 */
  src: url('iconfont.woff2?t=1626855668849') format('woff2'),
       url('iconfont.woff?t=1626855668849') format('woff'),
       url('iconfont.ttf?t=1626855668849') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e607";
}

.icon-bochu:before {
  content: "\e89a";
}

.icon-jiesuo:before {
  content: "\e89b";
}

.icon-lanya:before {
  content: "\e89c";
}

.icon-xinhao:before {
  content: "\e89f";
}

.icon-wenjianpaizhao:before {
  content: "\e8a5";
}

.icon-huadian-yongshenghua:before {
  content: "\e623";
}

.icon-huadian-yishubaijian:before {
  content: "\e624";
}

.icon-Dyanjing:before {
  content: "\e8ab";
}

.icon-dianying:before {
  content: "\e8ae";
}

.icon-yinhangka:before {
  content: "\e8bf";
}

.icon-entertainmentmark:before {
  content: "\e6dc";
}

.icon-togo:before {
  content: "\e6e3";
}

.icon-donework:before {
  content: "\e6e9";
}

.icon-kltj:before {
  content: "\e60c";
}

.icon-bank-fill:before {
  content: "\e675";
}

.icon-ic_home:before {
  content: "\e602";
}

.icon-ic_leader:before {
  content: "\e603";
}

.icon-icon-test:before {
  content: "\e66c";
}

.icon-dahongdenglong:before {
  content: "\e661";
}

.icon-renjijiaohu:before {
  content: "\eb66";
}

.icon-yibiaopan:before {
  content: "\eb67";
}

.icon-icon_loading:before {
  content: "\eb80";
}

